<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>ジャンル設定</title>
</head>

<body>
  <h1>ジャンル設定</h1>
  <form action="/select" method="post">
    <label for="genre">ジャンル:</label>
    <select id="genre" name="genre">
      <option value="sports">スポーツ</option>
      <option value="sengoku">戦国</option>
      <option value="anime">アニメ</option>
      <option value="music">アーティスト名</option>
    </select>
    <br>
    <button type="submit">選択する</button>
  </form>
</body>

</html>
